spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/enrollment_db?useSSL=false&serverTimezone=UTC}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:1234}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: false
server:
  port: 8082

logging:
  level:
    com.zjsu: INFO
 
# URL of catalog service used for service-to-service calls
catalog-service:
  url: http://localhost:8081
